* {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
}

@supports (font-variation-settings: "wght" 450) {
    * {
        font-family: "DM Sans", sans-serif;
        font-weight: 450;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1rem;
}

body {
    color: #fff;
    background-image: url("/assets/img/maquillage-permanent-draguignan.webp");
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

header {
    padding: 30px;
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    width: 50%;
}

section p {
    width: 50%;
}

h1, section p {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

em {
    font-style: normal;
}


footer {
    text-align: center;
}

.btn {
    padding: 16px 24px;
    background-color: #65BDC2;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 1.8rem;
        width: 70%;
    }

    section p {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 1.4rem;
        width: 100%;
    }

    section p {
        width: 100%;
    }
}
